@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["UserName"] = "Pink Panther";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Bievenido a esta seccion usuario @ViewData["UserName"]</p>
