@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var mensaje = "Hola Mundo";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido Grupo 45</h1>
    <h2>@mensaje</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
